/* card.css */
.card {
  position: relative;
  height: 250px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

.card-icon {
  position: absolute;
  top: -30px;
  right: -30px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-description {
  position: absolute;
  bottom: 18px;
  left: 10px;
}

.card-description a:hover{
  text-decoration: none;
  color: pink;
}

@media screen and (max-width: 990px) {
  .card-description {
    position: absolute;
    left: 75px;
    right: 75px;
  }
}

.card-description a {
  font-size: 15px;
}